Makefile
Makefile.in
ChangeLog.old
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
configure.ac.orig
configure.ac~
depcomp
genius.spec
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
stamp-h1
ylwrap
*.tar.gz
*.tar.xz
*.o
*.a
*.la
*.lo
.deps/
.libs/
tags
GPATH
GRTAGS
GTAGS
ID
ChangeLog.old
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
configure.ac.orig
depcomp
genius.spec
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
