[Desktop Entry]
Name=Calculator
Name[pt_BR]=Calculadora
Name[cs]=Kalkulátor
Name[da]=Kalkulator
Name[de]=Taschenrechner
Name[es]=Calculadora
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[gl]=Calculadora
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[ja]=·×»»µ¡
Name[ko]=°è»ê±â
Name[lt]=Skaièiuotuvas
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[sk]=Kalkulaèka
Name[sl]=Kalkulator
Name[sv]=Kalkylator
Name[wa]=Carculete
Comment=Genius Calculator
Comment[pt_BR]=Calculadora Genius
Comment[cs]=Kalkulátor Genius
Comment[da]=Genius kalkulator
Comment[de]=Taschenrechner Genius
Comment[es]=Calculadora científica Genius
Comment[fi]=Tieteellinen laskin Genius
Comment[fr]=Calculatrice scientifique Genius
Comment[gl]=Calculadora Genius
Comment[hr]=Znanstveni kalkulator Genius
Comment[hu]=Tudományos számológép Genius
Comment[ja]=¹âµéÅÅÂî(Genius)
Comment[ko]=Áö´Ï¾î½º(Genius) °è»ê±â
Comment[lt]=Genius skaièiuotuvas
Comment[no]=Kalkulatoren Genius
Comment[pl]=Kalkulator naukowy Genius
Comment[pt]=Calculadora Genius
Comment[sk]=Vedecká kalkulaèka Genius
Comment[sl]=Kalkulator Genij
Comment[sv]=Kalkylatorn Genius
Comment[wa]=Carculete syintifike Genius
Exec=gnome-genius
Icon=gnome-calc2.png
Terminal=0
Type=Application
